In [1]:
import numpy as np
import pandas as pd

In [14]:
# 读取鸢尾花数据集，header是标题行
data = pd.read_csv(r"Iris.csv", header=0);

In [15]:
data["Species"] = data["Species"].map({"Iris-versicolor": 2, "Iris-setosa":1, "Iris-virginica":0})
data.sample(10)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
124  125            6.7           3.3            5.7           2.1        0
11    12            4.8           3.4            1.6           0.2        1
64    65            5.6           2.9            3.6           1.3        2
42    43            4.4           3.2            1.3           0.2        1
77    78            6.7           3.0            5.0           1.7        2
94    95            5.6           2.7            4.2           1.3        2
146  147            6.3           2.5            5.0           1.9        0
53    54            5.5           2.3            4.0           1.3        2
43    44            5.0           3.5            1.6           0.6        1
66    67            5.6           3.0            4.5           1.5        2

In [16]:
data.drop("Id", axis=1, inplace=True)

In [24]:
data.drop_duplicates(inplace=True)

In [25]:
data.count()

SepalLengthCm    147
SepalWidthCm     147
PetalLengthCm    147
PetalWidthCm     147
Species          147
dtype: int64

In [30]:
data["Species"].value_counts()

2    50
0    49
1    48
Name: Species, dtype: int64